// ==========================================================================
// Collapsed
// ==========================================================================

.nav--is-visible {
    @include mq(xs) {
        display: block;
    }
}


.menu-icon--close {

    .menu-icon__top  {
        transform: rotate(45deg) scaleX(1.2);
        transform-origin: 0 100%;
    }
    
    .menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);
    }
    
    .menu-icon__bottom {
        transform: rotate(-45deg) scaleX(1.2) ;
        transform-origin: 0 0;
    }
}