.btn {
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    background-color: transparent; 
    border: 1px solid $color-primary;

    @include m(large) {
        padding: 15px 25px;
    }

    @include m(about) {
        padding: 5px 15px;
        margin-top: 30px;
    }

    @include m(gold) {
        border-color: #f7941d;
        font-weight: $font-weight--bold;
        transition: all .3s ease-out;

        &:hover {
            color: #f7941d;
            border-color: #f7941d;
            background-color: $white;
        }
    }

    @include m(hero) {
        @include mq(xs) {
            font-size: em(18px);
            margin-top: em(15px);
        }
        color: $white;
        border: 2px solid $white;
        font-weight: $font-weight--bold;
        font-size: em(20px);
        margin-top: em(40px);
        transition: all .3s ease-out; 

        &:hover {
            color: #f7941d;
            border-color: #f7941d;
        }
    }
}