.heading {
    text-transform: uppercase;
    margin-top: 0;

    @include e(primary) {
        font-size: 35px;
        @include m(large) {
            @include mq(small) {
                font-size: 65px;
            }
            margin-bottom: 0;
            color: $white;
        }
    }


}