.nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
    display: none;

    @include mq(small) {
        display: flex;
    }

    @include e(item) {
        @include mq(xs) {
            padding: 15px;
        }
        margin-left: 20px;
        flex: 0 0 100%; 
        text-align: center;

        @include mq(small){
            flex: 0 0 auto;
        }

        a {
            font-size: em(18px);
            color: $color-primary;
        }
        a:hover {
            color: palette(grey, dark);
        }
    }
}

.menu-icon {
    position: relative;
    top: 10px;
    @include mq(xs) {
        height: 30px;
        @include e(middle) {
            position: absolute;
            top: 14px;
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-primary;
            transition: transform .3s ease-out;
        }

        @include e(top) {
            content: "";
            position: absolute;
            top: 0px;
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-primary;    
            transition: transform .3s ease-out;
        }

        @include e(bottom) {
            content: "";
            position: absolute;
            bottom: 0px;
            display: inline-block;
            width: 30px;
            height: 3px;
            background-color: $color-primary;  
            transition: transform .3s ease-out; 
        }
    }

    @include mq(small) { 
        display: none;
    }
}
