.paragraph {
    margin-bottom: em(15px);

    @include m(white) {
        color: white;
    }
    @include m(lg-container) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        @include mq(medium) { 
            width: 80%;
        }
    }
    @include m(md-container) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        @include mq(medium) {
            width: 60%;
        }
    }
    @include m(heroarea) {
        font-size: em(25px);
    }
}