// ==========================================================================
// Placeholders
// ==========================================================================

// Panel

%section-default {
  padding: em(35px) em(20px);
  @include mq(medium) {
    padding: em(35px) em(0px) em(50px);
  }
}

%section-padding {
  padding-top: em(60px);
  padding-bottom: em(60px);
  @include mq(medium) {    
    padding-top: em(80px);
    padding-bottom: em(80px);
  }
}

%section-extra-padding {
  padding-top: em(80px);
  padding-bottom: em(80px);
  @include mq(medium) {    
    padding-top: em(110px);
    padding-bottom: em(110px);
  }
}