.section {
    @extend %section-default;
    @include m(padded){
        @extend %section-padding;
    }
    @include m(extra-padded){
        @extend %section-extra-padding;
    }

    @include m(grey) {
        background-color: #f5f5f5;
    }

    @include m(dark-grey) {
        background-color: #2d2d2d;
        color: $white;
        a{
            color: $white;
        }
    }
}